// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Explore Section Landing Page

@import 'welcomeExplore';

//editProfile Page

@import 'editprofile';

//Register Page

@import 'register';

//Login Page

@import 'login';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    background-color: white;
}